# dependencies
node_modules/

# build
dist/

# environment
.env
.env.local
.env.*.local

# logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.idea/
.vscode/

# test
coverage/

# local embedded postgres
.local/

# user uploads
uploads/
